<div class="powers-grid">
  <div class="disciplines-grid">
    <div class="header flexrow">
      <div class="discipline-name">{{localize "MTA.Sphere"}}</div>
      <div class="discipline-dots">{{localize "WOD5E.Label.Rating"}}</div>
      <div class="discipline-controls">
        <a class="item-control item-create" data-type="rote" data-tooltip="WOD5E.AddRote">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
    <ol class="items-list">
      {{!-- Loop através das Esferas que preparamos no mage-actor-sheet.js --}}
      {{#each actor.system.sortedSpheres as |sphere key|}}
      <li class="item" data-item-id="{{sphere.key}}">
        <div class="discipline-name">
          <a class="roll-dialog" data-discipline="{{sphere.key}}">{{sphere.label}}</a>
        </div>
        <div class="discipline-dots" data-property="system.spheres.{{sphere.key}}">
          {{{tracker sphere.value 5 "dot"}}}
        </div>
        <div class="discipline-controls">
          <a class="item-control item-display" data-tooltip="WOD5E.DisplayInfo">
            <i class="fas fa-info-circle"></i>
          </a>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</div>